html {
    scroll-behavior: smooth;
}

button i {
    pointer-events: none;
}

.outputSearch {
    display: none;
    position: absolute;
    border: 1px solid #ffefb3;
    width: calc(100% - 70px);
    max-height: 600px;
    min-height: 100px;
    background-color: #fff;
    border-radius: 2px;
    color: #495057;
    font-size: 14px;
    margin-top: 10px;
    overflow-y: auto;
    z-index: 99999;
    padding: 0 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.outputSearch.show {
    display: block;
}

.formItem {
    margin: 0;
    padding: 10px;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all ease-in-out .3s;
}

.imgItem {
    width: 70px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.linkItem {
    display: block;
    padding: 10px 0;
    /* margin: 10px 0; */
    /* border-top: 1px solid;
    border-bottom: 1px solid; */
}

.linkItem:hover {
    text-decoration: none;
}

.titleItem {
    font-size: 17px;
    color: #495057;
    font-weight: 400;
}

.authorItem {
    font-size: 15px;
    display: block;
    margin-bottom: 10px;
}

.review_count {
    color: darkorange;
}


/* rate */

.overlay {
    background: #fff;
    height: 100%;
    overflow: hidden;
    mix-blend-mode: color;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
}

.message-error {
    display: none;
    text-align: center;
    padding-top: 39px;
}

.message-error.show {
    display: block;
}

::-webkit-autofill {
    color: #000;
}


/* UserControl */

#UserControl {
    position: relative;
}

#UserControl::after {
    content: "";
    position: absolute;
    height: 30px;
    width: 40px;
    left: -10px;
}

#UserControl:hover #Control {
    display: block;
}

#Control {
    display: none;
    position: absolute;
    left: -130px;
    z-index: 999999;
    text-align: center;
}

button {
    border-radius: 0 !important;
}

::-webkit-scrollbar {
    width: 3px;
    height: 2px;
}

::-webkit-scrollbar-thumb {
    background-color: #FFD333;
    border-radius: 23px;
}

#loader.show {
    display: block;
}

#loader,
#loader:before,
#loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
}

#loader {
    display: none;
    color: #c62424;
    font-size: 10px;
    margin: auto;
    position: relative;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

#loader:before,
#loader:after {
    content: '';
    position: absolute;
    top: 0;
}

#loader:before {
    left: -3.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

#loader:after {
    left: 3.5em;
}

@-webkit-keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}

@keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}


/* Next, Prev disabled */

li.disabled {
    pointer-events: none;
    cursor: default;
}


/* RATING start */

.visuhide {
    /* position: absolute !important; */
    overflow: hidden;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
}

.star__container:hover .star__item,
.star__radio:checked~.star__item {
    filter: grayscale(0);
}

.star__item:hover~.star__item,
.star__item,
.star__container:not(:hover)>.star__radio:nth-of-type(5):checked~.star__item:nth-of-type(5)~.star__item,
.star__container:not(:hover)>.star__radio:nth-of-type(4):checked~.star__item:nth-of-type(4)~.star__item,
.star__container:not(:hover)>.star__radio:nth-of-type(3):checked~.star__item:nth-of-type(3)~.star__item,
.star__container:not(:hover)>.star__radio:nth-of-type(2):checked~.star__item:nth-of-type(2)~.star__item,
.star__container:not(:hover)>.star__radio:nth-of-type(1):checked~.star__item:nth-of-type(1)~.star__item {
    filter: grayscale(1);
}

.star__radio:nth-of-type(1):checked~.star__item:nth-of-type(1)::before {
    transform: scale(1.5);
    transition-timing-function: cubic-bezier(0.5, 1.5, 0.25, 1);
}

.star__radio:nth-of-type(2):checked~.star__item:nth-of-type(2)::before {
    transform: scale(1.5);
    transition-timing-function: cubic-bezier(0.5, 1.5, 0.25, 1);
}

.star__radio:nth-of-type(3):checked~.star__item:nth-of-type(3)::before {
    transform: scale(1.5);
    transition-timing-function: cubic-bezier(0.5, 1.5, 0.25, 1);
}

.star__radio:nth-of-type(4):checked~.star__item:nth-of-type(4)::before {
    transform: scale(1.5);
    transition-timing-function: cubic-bezier(0.5, 1.5, 0.25, 1);
}

.star__radio:nth-of-type(5):checked~.star__item:nth-of-type(5)::before {
    transform: scale(1.5);
    transition-timing-function: cubic-bezier(0.5, 1.5, 0.25, 1);
}

.star__container {
    display: flex;
    margin: auto;
    /* border-radius: 0.25em;
    background-color: #00a39b;
    box-shadow: 0 0.25em 1em rgba(0, 0, 0, 0.25); */
    transition: box-shadow 0.3s ease;
}

.star__container:focus-within {
    /* box-shadow: 0 0.125em 0.5em rgba(0, 0, 0, 0.5); */
}

.star__item {
    display: inline-flex;
    width: 1.65em;
    height: 1.5em;
}

.star__item::before {
    content: "⭐️";
    display: inline-block;
    margin: auto;
    font-size: 1em;
    vertical-align: top;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform-origin: 50% 33.3%;
    transition: transform 0.3s ease-out;
}